<h2>Formulário de Produtos</h2>
    <div class="mb-3">
        <label for="id" class="form-label">ID:</label>
        <input type="number" class="form-control" 
            [(ngModel)]="produto.id" id="id">
    </div>

    <div class="mb-3">
        <label for="nome" class="form-label">NOME:</label>
        <input [(ngModel)]="produto.nome" 
            class="form-control"
            id="nome">
    </div>

    <div class="mb-3">
        <label for="preco" class="form-label">PREÇO:</label>
        <input [(ngModel)]="produto.preco" 
            class="form-control"
            id="preco">
    </div>

    <button class="btn btn-primary" (click)="cadastrar()">
        Cadastrar
    </button>
